/Lab2-MueblesDeLosAlpes-ejb/build/
/Lab2-MueblesDeLosAlpes-ejb/dist/
/dist/
/Lab2-MueblesDeLosAlpes-ejb/nbproject/private/
/Lab2-MueblesDeLosAlpes-war/build/
/Lab2-MueblesDeLosAlpes-war/dist/
/Lab2-MueblesDeLosAlpes-war/nbproject/private/
/build/
/nbproject/private/